@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9907 0.0210 127.3736);
  --foreground: oklch(0.4134 0.0464 133.7966);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4134 0.0464 133.7966);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4134 0.0464 133.7966);
  --primary: oklch(0.5988 0.1489 46.7065);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(1.0000 0 0);
  --secondary-foreground: oklch(0.4807 0.0411 132.4645);
  --muted: oklch(0.9708 0.0045 134.8496);
  --muted-foreground: oklch(0.5822 0.0355 135.1418);
  --accent: oklch(1.0000 0 0);
  --accent-foreground: oklch(0.4134 0.0464 133.7966);
  --destructive: oklch(0.5103 0.2465 273.3704);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9353 0.0091 134.8748);
  --input: oklch(0.9353 0.0091 134.8748);
  --ring: oklch(0.5988 0.1489 46.7065);
  --chart-1: oklch(0.5988 0.1489 46.7065);
  --chart-2: oklch(0.6435 0.1308 77.1702);
  --chart-3: oklch(0.5534 0.1136 78.6640);
  --chart-4: oklch(0.4790 0.0970 82.4822);
  --chart-5: oklch(0.4104 0.0811 84.1786);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.4134 0.0464 133.7966);
  --sidebar-primary: oklch(0.5988 0.1489 46.7065);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(1.0000 0 0);
  --sidebar-accent-foreground: oklch(0.4134 0.0464 133.7966);
  --sidebar-border: oklch(0.9353 0.0091 134.8748);
  --sidebar-ring: oklch(0.5988 0.1489 46.7065);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2607 0.0532 137.2217);
  --foreground: oklch(0.8840 0.0150 132.4860);
  --card: oklch(0.3283 0.0537 134.4742);
  --card-foreground: oklch(0.8840 0.0150 132.4860);
  --popover: oklch(0.3283 0.0537 134.4742);
  --popover-foreground: oklch(0.8840 0.0150 132.4860);
  --primary: oklch(0.7218 0.1321 77.1120);
  --primary-foreground: oklch(0.2607 0.0532 137.2217);
  --secondary: oklch(0.3790 0.0492 134.4140);
  --secondary-foreground: oklch(0.7282 0.0163 145.4052);
  --muted: oklch(0.2827 0.0407 134.2169);
  --muted-foreground: oklch(0.5822 0.0355 135.1418);
  --accent: oklch(0.4134 0.0464 133.7966);
  --accent-foreground: oklch(0.7282 0.0163 145.4052);
  --destructive: oklch(0.5103 0.2465 273.3704);
  --destructive-foreground: oklch(0.2607 0.0532 137.2217);
  --border: oklch(0.4807 0.0411 132.4645);
  --input: oklch(0.4807 0.0411 132.4645);
  --ring: oklch(0.7218 0.1321 77.1120);
  --chart-1: oklch(0.7218 0.1321 77.1120);
  --chart-2: oklch(0.7988 0.1546 100.5516);
  --chart-3: oklch(0.5988 0.1489 46.7065);
  --chart-4: oklch(0.6435 0.1308 77.1702);
  --chart-5: oklch(0.5534 0.1136 78.6640);
  --sidebar: oklch(0.3283 0.0537 134.4742);
  --sidebar-foreground: oklch(0.8840 0.0150 132.4860);
  --sidebar-primary: oklch(0.7218 0.1321 77.1120);
  --sidebar-primary-foreground: oklch(0.2607 0.0532 137.2217);
  --sidebar-accent: oklch(0.4134 0.0464 133.7966);
  --sidebar-accent-foreground: oklch(0.7282 0.0163 145.4052);
  --sidebar-border: oklch(0.4807 0.0411 132.4645);
  --sidebar-ring: oklch(0.7218 0.1321 77.1120);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
